# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
._*

# Files that might be created on a Hard Drive / USB
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP shares
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

